<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
         PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.cack.dao.VehicleTypeDao">
    <select id="listVehicleType" resultType="com.wx.cack.dto.VehicleTypeDTO">
        SELECT id, name FROM vehicle_type where is_delete = 0
    </select>
</mapper>