<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
         PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncst.cack.dao.VehicleTypeDao">

    <select id="listVehicleType" resultType="VehicleType">
        select id, name from vehicle_type where is_delete = 0
    </select>

    <select id="countName" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM vehicle_type WHERE is_delete = 0 AND name = #{name}
    </select>

    <insert id="insert" parameterType="VehicleType" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into vehicle_type (name) values (#{name})
    </insert>

    <update id="delete" parameterType="Long">
        update vehicle_type set is_delete = 1 where id = #{id}
    </update>
</mapper>